<div class="col-lg-12">
  <div class="well bs-component">
    <div class="jumbotron">
      <h1><%= @admin.name%></h1>
      <h3><%= @admin.username%></h3>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">My Stores</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @admin.stores.each do |store| %>
            <li class="list-group-item">
              <%= link_to store.name, store_path(store)%></br>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


