<div class="col-lg-12">
  <div class="well bs-component">
    <%= @customer.name%>
    <% @customer.visits.each do |visit|%>
      <% if !visit.end_time.nil? %>
        <%= (visit.end_time - visit.start_time).to_i%> minutes </div>br> 
      <%end%>
    <%end%>
  </div>
</div>

