<%= image_tag "blurry-crowd.jpg", style: 'width:100%;height:auto;'%>
</br></br>
<div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
  <div class="well bs-component">
    <h1> Making shopping easier than ever </h1>
    <p>Avoid the widespread hated act of waiting in line by using Cola!</p>
    <p>Cola is an online queue management system, used to facilitate the checkout process for both stores and their valued customers.</p>
    <p> By using Cola, customers can figure out what stores are ready and waiting to serve them the quickest, allowing them to shop as efficiently as possible.</p>
  </div>
</div>

