<div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
  <div class="well bs-component">
    <h1> Making shopping easier than ever </h1>
    <p>There is no more of that unanimously hated waiting in lines when you use Cola.</p>
    <p>Cola is an online queue management system, used to facilitate the checkout process for both stores and their valued customers.</p>
    <p> By using Cola, customers can figure out what stores are ready and waiting to serve them the quickest, allowing them to shop as efficiently as possible.</p>
  </div>
</div>

