<div class="col-lg-12">
  <div class="well bs-component">
    <div class="jumbotron">
      <h1><%= @cashier.name%></h1>
      <h3><%= @cashier.username%></h3>
      <% if @cashier.current_cash_register.nil? %>
        <h4> You are not currently assigned to any register. </h4>
      <% else %>
        <h4>You are currently at register number #<%=@cashier.current_cash_register.register_number%></h4>
      <% end %>
    </div>
  </div>
</div>
